{% extends 'base_internal.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1>{% if entry %}Edit Entry{% else %}Create Entry{% endif %}</h1>
        </div>
        <div class="col-md-6">
            <!-- <p>Created At: {{ entry.created_at }}</p> -->
            <!-- <p>Updated At: {{ entry.updated_at }}</p> -->
        </div>
    </div>

    <ul class="list-group list-group-horizontal">
        <a href="{% url 'journal:entry_list' %}">
            <li class="list-group-item">                  
                <i class='bx bx-left-arrow-alt'></i>
            </li>
        </a>
        <!-- <li class="list-group-item">Item</li> -->
        <!-- <li class="list-group-item">Item</li> -->
    </ul>

    <div class="py-3">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
{% endblock %}
